[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==8.4.0"

[packages]
google-cloud-storage = "==3.1.0"
google-cloud-bigquery = "==3.34.0"
fastapi = "==0.115.12"
uvicorn = "==0.34.3"
dacite = "==1.9.2"
toolz = "==1.0.0"

[requires]
python_version = "3.11"
